@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);

html, body {
    font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

#textboxes {
    text-align: center;
    width: 100%;
    height: 100%;
}

#perform_dot {
    font-size: 30px;
}

.charItem:hover {
    font-size: 120%;
    cursor: none;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
}

p {
    user-select: none;
    cursor: default;
}

textarea, p {
    font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    line-height: 1.4;
    font-size: 30px;
    height: 30vh;
    width: 90%;
    border: 3px solid #cccccc;
    background-color: #e6e6e6;
    padding-left: 10px;
    padding-right: 10px;
    background-position: bottom right;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
}

.tippy-box {
    background-color: unset;
}

.niqqud-button {
    font-size: 30px;
    min-width: 35px;
}

.empty {
    opacity: 0;
}