@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

#textboxes {
    text-align: center;
    width: 100%;
    height: 100%;
}

#perform_dot {
    font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
}

span:hover {
    font-size: 130%;
}

textarea, p {
    cursor: default;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    line-height: 1.4;
    font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    width: inherit;
    height: 30vh;
    width: 90%;
    border: 3px solid #cccccc;
    background-color: #e6e6e6;
    padding: 5px;
    background-position: bottom right;
    background-repeat: no-repeat;
    margin-top: 0.5rem;
}